// Vincent Nguyen
// SASS

$mainColor: royalblue;
$secondColor: white;
$careArrow: url('../images/listArrow.png');
$careArrow2: url('../images/listArrow.png');

body{
	background-color: whitesmoke;
}

.container{
	margin-left: 200px;
	margin-right: 200px;
	background-color: white;
}

div{
	border: 1px solid black;
	
}

.brandHeader{
	.brandLogo{
		float: left;
	}
	
	.quickSettings{
		float: right;
		width: 30%;
		li{
			display: inline;
		}
	}
}

.nav{
	
	img{
		float: left;
	}
	ul{
		background-color: $mainColor;
		height: 40px;
		clear: both;
	}
	li{
		display: inline;
		border-left: solid thin white;
	}
	a{
		color: white;
		text-align: center;
	}
}

.title{
	font-weight: bold;
}

.content{
	background-color: $secondColor;
}
.mainContent{
	width: 70%;
	float: left;
	.viewingSetting{
		li{
		display: inline;
		text-decoration: none;
		}
	}
	.planSummary{
		
	}
}


.sideBarContainer{
	display: inline-block;
	vertical-align: top;
	float: right;
	background-color: $secondColor;
	p{
		text-align: left;
	}
	li{
		margin-top: 10px;
		border-top: solid thin black;
		list-style-image: $careArrow;
	}
	a{
		text-decoration: none;
		font-size: 10pt;
		color: black;
	}
}

.promotionSidebar{
	background-color: $mainColor;
	p{
		text-align: left;
		color: white;
		padding-left: 20px;
	}
}

footer{
	padding-left: 200px;
	padding-right: 200px;
	color: white;
	background-color: dimgrey;
	bottom: 0;
	clear: both;
	.userLinks{
		.links{
			float: left;
			width: 50%;
		}
		li{
		display: inline;
			a{
				color: white;
				text-decoration: none;
			}
		}		
		.social{
			width: 30%;
			float: right;
			li{
				display: inline;
				img{
					height: 20px;
				}
			}
		}
	}
	.termsConditions{
		clear: both;
	}
		
}
