// Vincent Nguyen
// SASS

$mainColor: royalblue;
$careArrow: url('../images/listArrow.png');

body{
	background-color: whitesmoke;
}

.container{
	margin-left: 200px;
	margin-right: 200px;
	background-color: white;
}

div{
	border: 1px solid black;
	
}

header{
	.nav{
	}
	img{
		float: left;
	}
	ul{
		background-color: $mainColor;
		height: 40px;
		clear: both;
	}
	li{
		display: inline;
		border-left: solid thin white;
	}
	a{
		color: white;
		text-align: center;
	}
}


.content{
	background-color: white;
}
.mainContent{
	width: 50%;
	float: left;
}

.sideBarContainer{
	display: inline-block;
	vertical-align: top;
	float: right;
	p{
		text-align: left;
	}
	li{
		margin-top: 10px;
		border-top: solid thin black;
		list-style-image: $careArrow;
	}
	a{
		text-decoration: none;
		font-size: 10pt;
		color: black;
	}
}

.promotionSidebar{
	background-color: $mainColor;
	p{
		text-align: left;
		color: white;
		padding-left: 20px;
	}
}

footer{
	padding-left: 200px;
	padding-right: 200px;
	color: white;
	background-color: dimgrey;
	bottom: 0;
	clear: both;
	.userLinks{
		.links{
			float: left;
		}
		li{
		display: inline;
			a{
				color: white;
				text-decoration: none;
			}
		}		
		.social{
			float: right;
			li{
				display: inline;
				img{
					height: 20px;
				}
			}
		}
	}
	.termsConditions{
		clear: both;
	}
		
}
