<!DOCTYPE html>

<html lang="en" ng-app="website">

<head>
	<meta charset="utf-8">
	<meta content="viewport">
	<link href="css/myStyle.css" rel="stylesheet">
	<title>CareFirst Customer Summary</title>
</head>

<body ng-controller="MainCtrl">
	<div class="container">
		<header>
			<nav class="nav">
				<img src="images/careFirstBrand.png" alt="BrandLogo">
				<div class="quickSettings">
					<ul>
						<li>
							<a href="#">Contact Us</a>
						</li>
						<li>
							<a href="#">Print</a>
						</li>
						<li>
							<p>Text Size A A A</p>
						</li>
					</ul>
				</div>
				<ul>
					<li>
						<a href="#">My Coverage</a>
					</li>
					<li>
						<a href="#">Claims</a>
					</li>
					<li>
						<a href="#">Doctors</a>
					</li>
					<li>
						<a href="#">Health & Wellness</a>
					</li>
					<li>
						<a href="#">Plan Documents</a>
					</li>
					<li>
						<a href="#">Estimate My Cost</a>
					</li>
					<li>
						<a href="#">Help</a>
					</li>
				</ul>
			</nav>
		</header>
		<!--end of header wrapper-->

		<div class="content">
			<div class="welcomeUser" ng-controller="AngularController">
				<h1>{{author.name}}</h1>
				<p>He is a {{author.title}} and he goes to {{author.company}}</p>
			</div>

			<div class="mainContent">
				<p>this is the main content</p>

			</div>
			<div class="sideBarContainer">
				<div class="quickLinks">
					<p>Quick Links</p>
					<ul>
						<li>
							<a href="#">Pay My Bill Online</a>
						</li>
						<li>
							<a href="#">Blue Fund Administration</a>
						</li>
						<li>
							<a href="#">BlueRewards</a>
						</li>
						<li>
							<a href="#">EOBs</a>
						</li>
						<li>
							<a href="#">My Claims</a>
						</li>
						<li>
							<a href="#">Select/Change PCP</a>
						</li>
						<li>
							<a href="#">Drug Pricing Tool</a>
						</li>
						<li>
							<a href="#">Treatment Cost Estimator</a>
						</li>
					</ul>
				</div>
				<div class="promotionSidebar">
					<img ng-repeat="slide in slides" class="slide" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
					<!--<img src="images/promotionGirl.png" alt="Promotion Image">-->
					<p>New CareFirst
						<br> Responsive website launched
					</p>
					<p>
						Now you can use
						<br> Tablet & Mobile Devices to
						<br> access My Account
					</p>
					<a class="arrowPrev" href="#" ng-click="nextSlide()"></a>
					<a class="arrowNext" href="#" ng-click="prevSlide()"></a>
					<nav class="imageNav">
						<div class="wrapper">
							<ul class="dots">
								<li class="dot" ng-repeat="slide in slides">
									<a href="#" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">{{slide.description}}
									</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
		<!--end of content wrapper-->
	</div>
	<!--end of container wrapper-->

	<footer>
		<div class="userLinks">
			<div class="links">
				<ul id="firstRow">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Site Demo</a></li>
					<li><a href="#">Terms and Agreements</a></li>
				</ul>
				<ul id="secondRow">
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Site Map</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>
			</div>
			<div id="currentTime">
			</div>
			<div class="social">
				<ul>
					<li>Connect with us</li>
					<li><img src="images/facebook.png" alt="Facebook"></li>
					<li><img src="images/twitter.png" alt="Twitter"></li>
					<li><img src="images/youtube.png" alt="Youtube"></li>
				</ul>
			</div>
		</div>
		<div class="termsConditions">
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
				It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
				with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		</div>
	</footer>
	
	<!--JS code goes here-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js">
	</script>
	<script src="js/angular.js"></script>
	<script src="js/carousel.js"></script>
	<script src="js/todaysDatejs"></script>
</body>

</html>